.row.product-list
  - @product_items.each do |product_item|
    .col-lg-3.col-md-4.col-xs-6.thumb
      %a.thumbnail{href: "#"}
        %img.img-responsive{alt: "", src: "http://placehold.it/400x300"}/
        %span= product_item.name
.row
  .col-md-offset-6
    %a.load-more-products{href: "#"} Load more