form#new_user {
  padding: 30px;
//  border: 1px solid rgba(24, 188, 156, 0.08);
//  background-color: rgba(24, 188, 156, 0.05);
  border-radius: 6px;
  .btn-success {
    width: 100%;
  }
}

.portfolio-item {
//  img.modal1 {
//    width: 256px;
//  }
}