form#new_user {
  padding: 30px;
//  border: 1px solid rgba(24, 188, 156, 0.08);
//  background-color: rgba(24, 188, 156, 0.05);
  border-radius: 6px;
  .btn-success {
    width: 100%;
  }

  #error_explanation {
    h2 {
      font-size: 20px;
      color: rgb(207, 0, 0);
    }
  }
}