!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title FreeDonate
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
  %body#products-items
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            %span Free Donate
            %br
            %span.skills{style: "font-size: 28px;line-height: 30px;"} Отдам Даром
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav{style: 'position: relative;top: -9999px;'}
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Services
            %li
              %a{:href => "#"} Contact
    .container.products-items-container
      = yield

      %hr/
      %footer
        .row
          .col-lg-12
            %p Copyright © Your Website 2014